In [13]:
import numpy as np
import pandas as pd
import datetime
import os

In [74]:
def process(file):
    try:
        temp = pd.read_csv(file)
    except IOError:
        print('cannot open {}'.format(file))

    if len(temp.columns == 6):
        
        x = temp['Province/State'].map(lambda x: x.replace(' (From Diamond Princess)','').replace('Unassigned Location','').split(','))
        temp[]
        
        temp.columns = ['County', 'State', 'Date', 'Lat', 'Long', 'Confirmed', 'Deaths', 'Recovered', 'Active']
        
        Province/State	Country/Region	Last Update	Confirmed	Deaths	Recovered
        
    temp = temp[temp.Country_Region == 'US'].drop(['Country_Region', 'Combined_Key'], axis=1, inplace=True)
    temp.Last_Update = temp.Last_Update.map(lambda x: x[:10])  
    temp.columns = ['FIPS', 'County', 'State', 'Date', 'Lat', 'Long', 'Confirmed', 'Deaths', 'Recovered', 'Active']

    return temp

In [85]:
path = '../../Data/covid_19_daily_reports/'
files = [i for i in os.listdir(path) if 'csv' in i]


data = pd.DataFrame()
for i in files:
#     data = pd.concat([data, process(path + i)])

# data.to_csv(path + 'covid_19_US_data.csv')

In [77]:
data = pd.DataFrame([], columns=['FIPS', 'County', 'State', 'Date', 'Lat', 'Long', 'Confirmed', 'Deaths', 'Recovered', 'Active'])
data.head()

Empty DataFrame
Columns: [FIPS, County, State, Date, Lat, Long, Confirmed, Deaths, Recovered, Active]
Index: []

In [82]:
temp = pd.read_csv('../../Data/covid_19_daily_reports/03-21-2020.csv')
temp.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-21T10:13:08,67800,3139,58946,30.9756,112.2707
1,NaN,Italy,2020-03-21T17:43:03,53578,4825,6072,41.8719,12.5674
2,NaN,Spain,2020-03-21T13:13:30,25374,1375,2125,40.4637,-3.7492
3,NaN,Germany,2020-03-21T20:43:02,22213,84,233,51.1657,10.4515
4,NaN,Iran,2020-03-21T11:13:12,20610,1556,7635,32.4279,53.6880

In [133]:
temp = pd.read_csv('../../Data/covid_19_daily_reports/02-29-2020.csv')
x = temp[temp['Country/Region'] == 'US']
x.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
40,Unassigned Location (From Diamond Princess),US,2020-02-28T20:03:03,44,0,0
63,"Seattle, WA",US,2020-02-29T22:33:03,6,1,1
75,"Santa Clara, CA",US,2020-02-29T01:33:03,3,0,1
79,"Chicago, IL",US,2020-02-09T19:03:03,2,0,2
80,"Sacramento County, CA",US,2020-02-27T20:33:02,2,0,0

In [143]:
xx = x['Province/State'].map(lambda x: x.replace(' (From Diamond Princess)','').replace('Unassigned Location','').split(','))

In [147]:
x['County'] = xx.map(lambda x: x[0])
x['State'] = xx.map(lambda x: x[-1])
x.head()

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,County,State
40,Unassigned Location (From Diamond Princess),US,2020-02-28T20:03:03,44,0,0,,
63,"Seattle, WA",US,2020-02-29T22:33:03,6,1,1,Seattle,WA
75,"Santa Clara, CA",US,2020-02-29T01:33:03,3,0,1,Santa Clara,CA
79,"Chicago, IL",US,2020-02-09T19:03:03,2,0,2,Chicago,IL
80,"Sacramento County, CA",US,2020-02-27T20:33:02,2,0,0,Sacramento County,CA

In [66]:
temp.columns = ['FIPS', 'County', 'State', 'Date', 'Lat', 'Long', 'Confirmed', 'Deaths', 'Recovered', 'Active']
temp.columns

Index(['FIPS', 'County', 'State', 'Date', 'Lat', 'Long', 'Confirmed', 'Deaths',
       'Recovered', 'Active'],
      dtype='object')