## Processing with json data

In [9]:
import json
import pandas as pd
from datetime import datetime
from datetime import date

In [10]:
with open('../Data/restaurant.json') as f:
    data = [json.loads(line) for line in f]
photo = pd.DataFrame(data)

In [11]:
photo['date'] = photo['timestamp'].apply(lambda time: date.fromtimestamp(time)) 
photo['timestamp'] = photo['timestamp'].apply(lambda time: datetime.fromtimestamp(time))
photo.head()

,place_id,postal_code,timestamp,user_id,date
0,cc4e591f-55d5-458e-a792-bbd78abd7791,W11,2018-05-19 21:53:14,7533a324-baf6-4ac8-88da-5e6946f78901,2018-05-19
1,0f1aa959-dcae-4e5d-bebe-6e8c32d12b50,W11,2018-03-28 06:35:52,a0221733-4c57-40f9-bffe-afc917ebf1e8,2018-03-28
2,0f1aa959-dcae-4e5d-bebe-6e8c32d12b50,W11,2018-03-28 08:26:41,a0221733-4c57-40f9-bffe-afc917ebf1e8,2018-03-28
3,259afbe4-5b34-4d5d-8997-7df0a7b4e4a6,SW14,2018-03-21 23:28:11,8776aae1-205d-492d-8357-60b06cbce7c9,2018-03-21
4,259afbe4-5b34-4d5d-8997-7df0a7b4e4a6,SW14,2018-03-21 22:45:17,8776aae1-205d-492d-8357-60b06cbce7c9,2018-03-21