# Pandas - Basic

`Pandas` is a package built on top of `NumPy`, which is consist of Series and DataFrame objects, and provides an efficient implementation of a DataFrame. DataFrames are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data. As well as offering a convenient storage interface for labeled data, Pandas implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.

Pandas has more flexibility (e.g., attaching labels to data, working with missing data, etc.) and when attempting operations that do not map well to element-wise broadcasting (e.g., groupings, pivots, etc.), each of which is an important piece of analyzing the less structured data available in many forms in the world around us.

* Pandas series, DataFrame
* Quick checking DataFrame
* Descriptive stats on DataFrame
* Indexing, slicing, conditional subsetting
* Basic operations

In [1]:
import numpy as np
import pandas as pd

## 1.1. Series Object

The Series object is basically interchangeable with a one-dimensional NumPy array. The essential difference is the presence of the index: while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values.

In [2]:
s = pd.Series([0.25, 0.5, 0.75, 1.0], index=["alice", "bob", "charles", "darwin"])
s

alice      0.25
bob        0.50
charles    0.75
darwin     1.00
dtype: float64

We can access with the `values` and `index` attributes, return a NumPy array and Index

In [3]:
s.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
s.index

Index(['alice', 'bob', 'charles', 'darwin'], dtype='object')

The Pandas Series is also like a specialization of a Python dictionary. A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a Series is a structure which maps typed keys to a set of typed values. This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas Series makes it much more efficient than Python dictionaries for certain operations.

In [5]:
# Using a pre-defined Dictionary object
s = {'color': ['black'],
     'size': ['S'],
     'data': pd.date_range('1/1/2019', periods=1, freq='W'),
     'a': 0,
     'b': 1}
pd.Series(s)

color                                              [black]
size                                                   [S]
data     DatetimeIndex(['2019-01-06'], dtype='datetime6...
a                                                        0
b                                                        1
dtype: object

By default, a Series will be created where the index is drawn from the sorted keys.

In [6]:
s['size']

['S']

## 1.2. DataFrame Object

The DataFrame can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary. A DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names.

In [7]:
data = {'color': ['black', 'white', 'black', 'white', 'black', 'white', 'black', 'white', 'black', 'white'],
        'size': ['S', 'M', 'L', 'M', 'L', 'S', 'S', 'XL', 'XL', 'M'],
        'date': pd.date_range('1/1/2019', periods=10, freq='W'),
        'a': np.random.randn(10),
        'b': np.random.normal(0.5, 2, 10)}

df = pd.DataFrame(data)
df

   color size       date         a         b
0  black    S 2019-01-06 -0.161944  0.558853
1  white    M 2019-01-13 -0.285296  0.001584
2  black    L 2019-01-20  0.114940  4.725979
3  white    M 2019-01-27 -1.102740 -0.675747
4  black    L 2019-02-03 -1.812915 -0.168599
5  white    S 2019-02-10 -0.525139  0.426896
6  black    S 2019-02-17  0.706464 -1.022070
7  white   XL 2019-02-24 -0.932795 -4.987246
8  black   XL 2019-03-03  0.836499  3.797216
9  white    M 2019-03-10  1.381290 -1.329976

In [8]:
df.values

array([['black', 'S', Timestamp('2019-01-06 00:00:00'),
        -0.1619435754711057, 0.5588526847467464],
       ['white', 'M', Timestamp('2019-01-13 00:00:00'),
        -0.28529614085581273, 0.0015844623876721253],
       ['black', 'L', Timestamp('2019-01-20 00:00:00'),
        0.11493980903060909, 4.725978978651819],
       ['white', 'M', Timestamp('2019-01-27 00:00:00'),
        -1.1027404519566004, -0.6757467045349261],
       ['black', 'L', Timestamp('2019-02-03 00:00:00'),
        -1.8129148436456655, -0.16859931138510553],
       ['white', 'S', Timestamp('2019-02-10 00:00:00'),
        -0.5251392044884938, 0.42689581184719666],
       ['black', 'S', Timestamp('2019-02-17 00:00:00'),
        0.7064639735580651, -1.0220697585001803],
       ['white', 'XL', Timestamp('2019-02-24 00:00:00'),
        -0.9327947559140333, -4.987245624243637],
       ['black', 'XL', Timestamp('2019-03-03 00:00:00'),
        0.8364994365703594, 3.797215635656902],
       ['white', 'M', Timestamp('2019-03-10 00:00:00'),
        1.3812904663462013, -1.3299758047946801]], dtype=object)

Like the Series object, the DataFrame has an index attribute that gives access to the index labels:

In [9]:
df.index

RangeIndex(start=0, stop=10, step=1)

Additionally, the DataFrame has a columns attribute, which is an Index object holding the column labels:

In [10]:
df.columns

Index(['color', 'size', 'date', 'a', 'b'], dtype='object')

DataFrame can be created reading directly from a CSV or an Excel file using `pd.read_csv` and `pd.read_excel`

In [11]:
pd.read_csv('../Data/Test_Scores.csv').head()

   ACT  FinalExam  QuizAvg  TestAvg
0   33        181       95       89
1   31        169       81       89
2   21        176       65       68
3   25        181       66       90
4   29        169       89       81

## 1.3. Index Object

This Index object is an interesting structure in itself, and it can be thought of either as an immutable array or as an ordered set (technically a multi-set, as Index objects may contain repeated values). Index objects also have many of the attributes familiar from NumPy arrays, but they are immutable - that is, they cannot be modified.

In [12]:
index = [['A', 'B', 'B', 'B', 'C', 'A', 'B', 'A', 'C', 'C'], ['JP', 'CN', 'US', 'US', 'US', 'CN', 'CN', 'CA', 'JP', 'CA']]

ind = pd.Index(index)
ind

Index([['A', 'B', 'B', 'B', 'C', 'A', 'B', 'A', 'C', 'C'], ['JP', 'CN', 'US', 'US', 'US', 'CN', 'CN', 'CA', 'JP', 'CA']], dtype='object')

In [13]:
print(ind[0])

print(ind[0][0])

['A', 'B', 'B', 'B', 'C', 'A', 'B', 'A', 'C', 'C']
A

In [14]:
print('size:', ind.size)
print('shape:', ind.shape)
print('dim:', ind.ndim)
print('type:', ind.dtype)

size: 2
shape: (2,)
dim: 1
type: object

The Index object follows many of the conventions used by Python's built-in `set` data structure, so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [15]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

# intersection
print(indA & indB)

# union
print(indA | indB)

# symmetric difference
print(indA ^ indB)

Int64Index([3, 5, 7], dtype='int64')
Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')
Int64Index([1, 2, 9, 11], dtype='int64')

Adding multi-indexing to dataframe

In [16]:
index = pd.MultiIndex.from_arrays(index, names=['class', 'country'])

df = pd.DataFrame(data, index=index)
df

               color size       date         a         b
class country
A     JP       black    S 2019-01-06 -0.161944  0.558853
B     CN       white    M 2019-01-13 -0.285296  0.001584
      US       black    L 2019-01-20  0.114940  4.725979
      US       white    M 2019-01-27 -1.102740 -0.675747
C     US       black    L 2019-02-03 -1.812915 -0.168599
A     CN       white    S 2019-02-10 -0.525139  0.426896
B     CN       black    S 2019-02-17  0.706464 -1.022070
A     CA       white   XL 2019-02-24 -0.932795 -4.987246
C     JP       black   XL 2019-03-03  0.836499  3.797216
      CA       white    M 2019-03-10  1.381290 -1.329976

## 2. Quick checking DataFrames

In [17]:
# select top 3
df.head(3)

               color size       date         a         b
class country
A     JP       black    S 2019-01-06 -0.161944  0.558853
B     CN       white    M 2019-01-13 -0.285296  0.001584
      US       black    L 2019-01-20  0.114940  4.725979

In [18]:
# select last 3
df.tail(3)

               color size       date         a         b
class country
A     CA       white   XL 2019-02-24 -0.932795 -4.987246
C     JP       black   XL 2019-03-03  0.836499  3.797216
      CA       white    M 2019-03-10  1.381290 -1.329976

In [19]:
# sample data
df.sample(3)

               color size       date         a         b
class country
A     JP       black    S 2019-01-06 -0.161944  0.558853
B     US       black    L 2019-01-20  0.114940  4.725979
A     CA       white   XL 2019-02-24 -0.932795 -4.987246

In [20]:
# check data type
print(df.dtypes)

color            object
size             object
date     datetime64[ns]
a               float64
b               float64
dtype: object

In [21]:
# change data type
print(df.a.astype(int))

class  country
A      JP         0
B      CN         0
       US         0
       US        -1
C      US        -1
A      CN         0
B      CN         0
A      CA         0
C      JP         0
       CA         1
Name: a, dtype: int32

In [22]:
# check data information
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 10 entries, (A, JP) to (C, CA)
Data columns (total 5 columns):
color    10 non-null object
size     10 non-null object
date     10 non-null datetime64[ns]
a        10 non-null float64
b        10 non-null float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 586.0+ bytes

# 3. Basic descriptive statistics

In [23]:
# basic statistical analysis
df.describe()

               a          b
count  10.000000  10.000000
mean   -0.178164   0.132689
std     0.975179   2.692445
min    -1.812915  -4.987246
25%    -0.830881  -0.935489
50%    -0.223620  -0.083507
75%     0.558583   0.525863
max     1.381290   4.725979

In [24]:
print('feature mean')
print(df.mean())
print('feature variance')
print(df.mean())
print('feature standard deviation')
print(df.std())
print('feature min')
print(df.min())
print('feature max')
print(df.mean())

feature mean
a   -0.178164
b    0.132689
dtype: float64
feature variance
a   -0.178164
b    0.132689
dtype: float64
feature standard deviation
a    0.975179
b    2.692445
dtype: float64
feature min
color                  black
size                       L
date     2019-01-06 00:00:00
a                   -1.81291
b                   -4.98725
dtype: object
feature max
a   -0.178164
b    0.132689
dtype: float64

In [25]:
# top 5 percentile
np.percentile(df.a,95)

1.136134502947072

## 4. Indexing, slicing columns and rows

### 4.1. select rows

In [26]:
# select row by index, return Series
df.iloc[0]

color                  black
size                       S
date     2019-01-06 00:00:00
a                  -0.161944
b                   0.558853
Name: (A, JP), dtype: object

In [27]:
# select row by index, return dataframe
df.iloc[[0]]

               color size       date         a         b
class country
A     JP       black    S 2019-01-06 -0.161944  0.558853

In [28]:
# select row by name, return dataframe
df.loc['B']

         color size       date         a         b
country
CN       white    M 2019-01-13 -0.285296  0.001584
US       black    L 2019-01-20  0.114940  4.725979
US       white    M 2019-01-27 -1.102740 -0.675747
CN       black    S 2019-02-17  0.706464 -1.022070

### 4.2. select columns

In [29]:
# select column by index, return Series
print(df.iloc[:, 0])

class  country
A      JP         black
B      CN         white
       US         black
       US         white
C      US         black
A      CN         white
B      CN         black
A      CA         white
C      JP         black
       CA         white
Name: color, dtype: object

In [30]:
# select column by name, return Series
df.loc[:, 'color']

class  country
A      JP         black
B      CN         white
       US         black
       US         white
C      US         black
A      CN         white
B      CN         black
A      CA         white
C      JP         black
       CA         white
Name: color, dtype: object

In [31]:
# select column by index, return dataframe
df.iloc[:, [0]].head()

               color
class country
A     JP       black
B     CN       white
      US       black
      US       white
C     US       black

In [32]:
# select column by name, return dataframe
df[['color']].head()

               color
class country
A     JP       black
B     CN       white
      US       black
      US       white
C     US       black

### 4.3. conditional subsetting

In [33]:
df[df.a > 0]

               color size       date         a         b
class country
B     US       black    L 2019-01-20  0.114940  4.725979
      CN       black    S 2019-02-17  0.706464 -1.022070
C     JP       black   XL 2019-03-03  0.836499  3.797216
      CA       white    M 2019-03-10  1.381290 -1.329976

In [34]:
df[df.color.isin(['white', 'black'])]

               color size       date         a         b
class country
A     JP       black    S 2019-01-06 -0.161944  0.558853
B     CN       white    M 2019-01-13 -0.285296  0.001584
      US       black    L 2019-01-20  0.114940  4.725979
      US       white    M 2019-01-27 -1.102740 -0.675747
C     US       black    L 2019-02-03 -1.812915 -0.168599
A     CN       white    S 2019-02-10 -0.525139  0.426896
B     CN       black    S 2019-02-17  0.706464 -1.022070
A     CA       white   XL 2019-02-24 -0.932795 -4.987246
C     JP       black   XL 2019-03-03  0.836499  3.797216
      CA       white    M 2019-03-10  1.381290 -1.329976

In [35]:
df.loc[(df.color == 'white') & (df['size'] == 'M'), ['a', 'b']]

                      a         b
class country
B     CN      -0.285296  0.001584
      US      -1.102740 -0.675747
C     CA       1.381290 -1.329976

In [36]:
df.query("color == 'white' & size == 'M'")

               color size       date         a         b
class country
B     CN       white    M 2019-01-13 -0.285296  0.001584
      US       white    M 2019-01-27 -1.102740 -0.675747
C     CA       white    M 2019-03-10  1.381290 -1.329976

## 5. Basic Operation
### 5.1. mathematical operations and store a new column

In [37]:
df['c'] = df.a + df.b
df

               color size       date         a         b         c
class country
A     JP       black    S 2019-01-06 -0.161944  0.558853  0.396909
B     CN       white    M 2019-01-13 -0.285296  0.001584 -0.283712
      US       black    L 2019-01-20  0.114940  4.725979  4.840919
      US       white    M 2019-01-27 -1.102740 -0.675747 -1.778487
C     US       black    L 2019-02-03 -1.812915 -0.168599 -1.981514
A     CN       white    S 2019-02-10 -0.525139  0.426896 -0.098243
B     CN       black    S 2019-02-17  0.706464 -1.022070 -0.315606
A     CA       white   XL 2019-02-24 -0.932795 -4.987246 -5.920040
C     JP       black   XL 2019-03-03  0.836499  3.797216  4.633715
      CA       white    M 2019-03-10  1.381290 -1.329976  0.051315

### 5.2. Evaluating an expression

A great feature supported by pandas is expression evaluation. This relies on the `numexpr` library which must be installed. Also, we can directly modify the DataFrame, and use global variable in an expression by prefixing it with `@`

In [38]:
# quick evaluate
print(df.eval('a + b'))

class  country
A      JP         0.396909
B      CN        -0.283712
       US         4.840919
       US        -1.778487
C      US        -1.981514
A      CN        -0.098243
B      CN        -0.315606
A      CA        -5.920040
C      JP         4.633715
       CA         0.051315
dtype: float64

In [39]:
threshold = 0
df.eval('c = a + b > @threshold')

               color size       date         a         b      c
class country
A     JP       black    S 2019-01-06 -0.161944  0.558853   True
B     CN       white    M 2019-01-13 -0.285296  0.001584  False
      US       black    L 2019-01-20  0.114940  4.725979   True
      US       white    M 2019-01-27 -1.102740 -0.675747  False
C     US       black    L 2019-02-03 -1.812915 -0.168599  False
A     CN       white    S 2019-02-10 -0.525139  0.426896  False
B     CN       black    S 2019-02-17  0.706464 -1.022070  False
A     CA       white   XL 2019-02-24 -0.932795 -4.987246  False
C     JP       black   XL 2019-03-03  0.836499  3.797216   True
      CA       white    M 2019-03-10  1.381290 -1.329976   True

### 5.3. Deleting columns or rows

In [40]:
# Notice the axis=1 option for columns
df.drop('c', axis = 1)

               color size       date         a         b
class country
A     JP       black    S 2019-01-06 -0.161944  0.558853
B     CN       white    M 2019-01-13 -0.285296  0.001584
      US       black    L 2019-01-20  0.114940  4.725979
      US       white    M 2019-01-27 -1.102740 -0.675747
C     US       black    L 2019-02-03 -1.812915 -0.168599
A     CN       white    S 2019-02-10 -0.525139  0.426896
B     CN       black    S 2019-02-17  0.706464 -1.022070
A     CA       white   XL 2019-02-24 -0.932795 -4.987246
C     JP       black   XL 2019-03-03  0.836499  3.797216
      CA       white    M 2019-03-10  1.381290 -1.329976

In [41]:
# axis = 0 is default for rows
df.drop(('B', 'US'), axis = 0)

               color size       date         a         b         c
class country
A     JP       black    S 2019-01-06 -0.161944  0.558853  0.396909
B     CN       white    M 2019-01-13 -0.285296  0.001584 -0.283712
C     US       black    L 2019-02-03 -1.812915 -0.168599 -1.981514
A     CN       white    S 2019-02-10 -0.525139  0.426896 -0.098243
B     CN       black    S 2019-02-17  0.706464 -1.022070 -0.315606
A     CA       white   XL 2019-02-24 -0.932795 -4.987246 -5.920040
C     JP       black   XL 2019-03-03  0.836499  3.797216  4.633715
      CA       white    M 2019-03-10  1.381290 -1.329976  0.051315

### 5.4. Counting and sorting

In [42]:
df.color.value_counts()

black    5
white    5
Name: color, dtype: int64

In [43]:
df.sort_values(by='date', ascending=False)

               color size       date         a         b         c
class country
C     CA       white    M 2019-03-10  1.381290 -1.329976  0.051315
      JP       black   XL 2019-03-03  0.836499  3.797216  4.633715
A     CA       white   XL 2019-02-24 -0.932795 -4.987246 -5.920040
B     CN       black    S 2019-02-17  0.706464 -1.022070 -0.315606
A     CN       white    S 2019-02-10 -0.525139  0.426896 -0.098243
C     US       black    L 2019-02-03 -1.812915 -0.168599 -1.981514
B     US       white    M 2019-01-27 -1.102740 -0.675747 -1.778487
      US       black    L 2019-01-20  0.114940  4.725979  4.840919
      CN       white    M 2019-01-13 -0.285296  0.001584 -0.283712
A     JP       black    S 2019-01-06 -0.161944  0.558853  0.396909

### 5.5. Re-setting and Setting Index

In [44]:
df.reset_index()

  class country  color size       date         a         b         c
0     A      JP  black    S 2019-01-06 -0.161944  0.558853  0.396909
1     B      CN  white    M 2019-01-13 -0.285296  0.001584 -0.283712
2     B      US  black    L 2019-01-20  0.114940  4.725979  4.840919
3     B      US  white    M 2019-01-27 -1.102740 -0.675747 -1.778487
4     C      US  black    L 2019-02-03 -1.812915 -0.168599 -1.981514
5     A      CN  white    S 2019-02-10 -0.525139  0.426896 -0.098243
6     B      CN  black    S 2019-02-17  0.706464 -1.022070 -0.315606
7     A      CA  white   XL 2019-02-24 -0.932795 -4.987246 -5.920040
8     C      JP  black   XL 2019-03-03  0.836499  3.797216  4.633715
9     C      CA  white    M 2019-03-10  1.381290 -1.329976  0.051315

In [45]:
df.reset_index(drop=True)

   color size       date         a         b         c
0  black    S 2019-01-06 -0.161944  0.558853  0.396909
1  white    M 2019-01-13 -0.285296  0.001584 -0.283712
2  black    L 2019-01-20  0.114940  4.725979  4.840919
3  white    M 2019-01-27 -1.102740 -0.675747 -1.778487
4  black    L 2019-02-03 -1.812915 -0.168599 -1.981514
5  white    S 2019-02-10 -0.525139  0.426896 -0.098243
6  black    S 2019-02-17  0.706464 -1.022070 -0.315606
7  white   XL 2019-02-24 -0.932795 -4.987246 -5.920040
8  black   XL 2019-03-03  0.836499  3.797216  4.633715
9  white    M 2019-03-10  1.381290 -1.329976  0.051315

In [46]:
df.set_index('date')

            color size         a         b         c
date
2019-01-06  black    S -0.161944  0.558853  0.396909
2019-01-13  white    M -0.285296  0.001584 -0.283712
2019-01-20  black    L  0.114940  4.725979  4.840919
2019-01-27  white    M -1.102740 -0.675747 -1.778487
2019-02-03  black    L -1.812915 -0.168599 -1.981514
2019-02-10  white    S -0.525139  0.426896 -0.098243
2019-02-17  black    S  0.706464 -1.022070 -0.315606
2019-02-24  white   XL -0.932795 -4.987246 -5.920040
2019-03-03  black   XL  0.836499  3.797216  4.633715
2019-03-10  white    M  1.381290 -1.329976  0.051315

### 5.6. Drop/filling Missing Value

In [47]:
df.iloc[0, 4] = np.nan
df.iloc[5, 3] = np.nan
df

               color size       date         a         b         c
class country
A     JP       black    S 2019-01-06 -0.161944       NaN  0.396909
B     CN       white    M 2019-01-13 -0.285296  0.001584 -0.283712
      US       black    L 2019-01-20  0.114940  4.725979  4.840919
      US       white    M 2019-01-27 -1.102740 -0.675747 -1.778487
C     US       black    L 2019-02-03 -1.812915 -0.168599 -1.981514
A     CN       white    S 2019-02-10       NaN  0.426896 -0.098243
B     CN       black    S 2019-02-17  0.706464 -1.022070 -0.315606
A     CA       white   XL 2019-02-24 -0.932795 -4.987246 -5.920040
C     JP       black   XL 2019-03-03  0.836499  3.797216  4.633715
      CA       white    M 2019-03-10  1.381290 -1.329976  0.051315

In [48]:
# drop any rows with NA, axis=1 as columns
df.dropna(axis=0)

               color size       date         a         b         c
class country
B     CN       white    M 2019-01-13 -0.285296  0.001584 -0.283712
      US       black    L 2019-01-20  0.114940  4.725979  4.840919
      US       white    M 2019-01-27 -1.102740 -0.675747 -1.778487
C     US       black    L 2019-02-03 -1.812915 -0.168599 -1.981514
B     CN       black    S 2019-02-17  0.706464 -1.022070 -0.315606
A     CA       white   XL 2019-02-24 -0.932795 -4.987246 -5.920040
C     JP       black   XL 2019-03-03  0.836499  3.797216  4.633715
      CA       white    M 2019-03-10  1.381290 -1.329976  0.051315

In [49]:
# drop rows any specific column has NA values
df[df.a.notna()]

               color size       date         a         b         c
class country
A     JP       black    S 2019-01-06 -0.161944       NaN  0.396909
B     CN       white    M 2019-01-13 -0.285296  0.001584 -0.283712
      US       black    L 2019-01-20  0.114940  4.725979  4.840919
      US       white    M 2019-01-27 -1.102740 -0.675747 -1.778487
C     US       black    L 2019-02-03 -1.812915 -0.168599 -1.981514
B     CN       black    S 2019-02-17  0.706464 -1.022070 -0.315606
A     CA       white   XL 2019-02-24 -0.932795 -4.987246 -5.920040
C     JP       black   XL 2019-03-03  0.836499  3.797216  4.633715
      CA       white    M 2019-03-10  1.381290 -1.329976  0.051315

In [50]:
# fill in NA with mean
df.fillna(df.mean())

               color size       date         a         b         c
class country
A     JP       black    S 2019-01-06 -0.161944  0.085338  0.396909
B     CN       white    M 2019-01-13 -0.285296  0.001584 -0.283712
      US       black    L 2019-01-20  0.114940  4.725979  4.840919
      US       white    M 2019-01-27 -1.102740 -0.675747 -1.778487
C     US       black    L 2019-02-03 -1.812915 -0.168599 -1.981514
A     CN       white    S 2019-02-10 -0.139611  0.426896 -0.098243
B     CN       black    S 2019-02-17  0.706464 -1.022070 -0.315606
A     CA       white   XL 2019-02-24 -0.932795 -4.987246 -5.920040
C     JP       black   XL 2019-03-03  0.836499  3.797216  4.633715
      CA       white    M 2019-03-10  1.381290 -1.329976  0.051315

### 5.7. Mapping Functions

Mapping is used to transform an initial set of values to another set of values through a function.

In [51]:
df.a.map(lambda x: np.mean(x))

class  country
A      JP        -0.161944
B      CN        -0.285296
       US         0.114940
       US        -1.102740
C      US        -1.812915
A      CN              NaN
B      CN         0.706464
A      CA        -0.932795
C      JP         0.836499
       CA         1.381290
Name: a, dtype: float64

`Apply` is similar to `map`, except that it transforms the entire DataFrame.

In [52]:
df[['a','b']].apply(lambda x: x.mean())

a   -0.139611
b    0.085338
dtype: float64

==================================================================================

## 4.1. Aggregation

In [55]:
size_lvl.sum().add_prefix('sum_')

         sum_a     sum_b     sum_c
size
L    -1.697975  4.557380  2.859405
M    -0.006746 -2.004138 -2.010884
S     0.544520 -0.595174 -0.016940
XL   -0.096295 -1.190030 -1.286325

In [56]:
df.groupby(['size', 'color']).agg({'a': np.min, 'b': np.mean})

                   a         b
size color
L    black -1.812915  2.278690
M    white -1.102740 -0.668046
S    black -0.161944 -1.022070
     white       NaN  0.426896
XL   black  0.836499  3.797216
     white -0.932795 -4.987246

## 5.1. Apply customize function

In [57]:
# Transform
data_range = lambda x: x.max() - x.min()
df.groupby('size').transform(data_range)

                 date         a         b          c
class country
A     JP      42 days  0.868408  1.448966   0.712515
B     CN      56 days  2.484031  1.331560   1.829802
      US      14 days  1.927855  4.894578   6.822433
      US      56 days  2.484031  1.331560   1.829802
C     US      14 days  1.927855  4.894578   6.822433
A     CN      42 days  0.868408  1.448966   0.712515
B     CN      42 days  0.868408  1.448966   0.712515
A     CA       7 days  1.769294  8.784461  10.553755
C     JP       7 days  1.769294  8.784461  10.553755
      CA      56 days  2.484031  1.331560   1.829802

In [58]:
# Apply
df.groupby('size')['a'].apply(lambda x: x.max() - x.min())

size
L     1.927855
M     2.484031
S     0.868408
XL    1.769294
Name: a, dtype: float64

## 6.1. Rolling

Creating a n-row window to aggregate data group by columns. If not enough data, then return `NaN`

In [59]:
df.groupby('color').rolling(2).a.sum()

color  class  country
black  A      JP              NaN
       B      US        -0.047004
       C      US        -1.697975
       B      CN        -1.106451
       C      JP         1.542963
white  B      CN              NaN
              US        -1.388037
       A      CN              NaN
              CA              NaN
       C      CA         0.448496
Name: a, dtype: float64

## 7.1. Expanding

Creating a window to aggregate data group by columns, but the window is increasing every step

In [60]:
# Cumulative sum
df.groupby('color').expanding(1).a.sum()

color  class  country
black  A      JP        -0.161944
       B      US        -0.047004
       C      US        -1.859919
       B      CN        -1.153455
       C      JP        -0.316955
white  B      CN        -0.285296
              US        -1.388037
       A      CN        -1.388037
              CA        -2.320831
       C      CA        -0.939541
Name: a, dtype: float64

## 8.1. Filter

In [61]:
df.groupby('class').filter(lambda x: len(x) > 3)

               color size       date         a         b         c
class country
B     CN       white    M 2019-01-13 -0.285296  0.001584 -0.283712
      US       black    L 2019-01-20  0.114940  4.725979  4.840919
      US       white    M 2019-01-27 -1.102740 -0.675747 -1.778487
      CN       black    S 2019-02-17  0.706464 -1.022070 -0.315606

## 9.1 Evaluating an expression