# Pandas - Basic

`Pandas` is a package built on top of `NumPy`, which is consist of Series and DataFrame objects, and provides an efficient implementation of a DataFrame. DataFrames are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data. As well as offering a convenient storage interface for labeled data, Pandas implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.

Pandas has more flexibility (e.g., attaching labels to data, working with missing data, etc.) and when attempting operations that do not map well to element-wise broadcasting (e.g., groupings, pivots, etc.), each of which is an important piece of analyzing the less structured data available in many forms in the world around us.

* Pandas series, DataFrame
* Quick checking DataFrame
* Descriptive stats on DataFrame
* Indexing, slicing, conditional subsetting
* Basic operations

In [81]:
import numpy as np
import pandas as pd

## 1.1. Series Object

The Series object is basically interchangeable with a one-dimensional NumPy array. The essential difference is the presence of the index: while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values, which can access with the `values` and `index` attributes.

In [82]:
s = pd.Series([0.25, 0.5, 0.75, 1.0], index=["alice", "bob", "charles", "darwin"])
s

alice      0.25
bob        0.50
charles    0.75
darwin     1.00
dtype: float64

In [83]:
s.values

array([0.25, 0.5 , 0.75, 1.  ])

In [84]:
s.index

Index(['alice', 'bob', 'charles', 'darwin'], dtype='object')

The Pandas Series is also like a specialization of a Python dictionary. A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a Series is a structure which maps typed keys to a set of typed values. **This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas Series makes it much more efficient than Python dictionaries for certain operations.**

In [85]:
# Using a pre-defined Dictionary object
s = {'color': ['black'],
     'size': ['S'],
     'a': 0,
     'b': 1}

pd.Series(s)

color    [black]
size         [S]
a              0
b              1
dtype: object

## 1.2. DataFrame Object

The DataFrame can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary. A DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names.

In [86]:
data = {'color': ['black', 'white', 'red', 'white', 'green'],
        'size': ['S', 'M', 'L', 'M', 'XL'],
        'date': pd.date_range('1/1/2019', periods=5, freq='W'),
        'a': np.random.randn(5),
        'b': np.random.normal(0.5, 2, 5)}

df = pd.DataFrame(data)
df

   color size       date         a         b
0  black    S 2019-01-06 -0.445812 -0.369978
1  white    M 2019-01-13 -3.090266 -1.757744
2    red    L 2019-01-20 -0.424970 -0.380681
3  white    M 2019-01-27 -0.363608 -2.391862
4  green   XL 2019-02-03  1.046988 -0.154135

In [87]:
df.values

array([['black', 'S', Timestamp('2019-01-06 00:00:00'),
        -0.4458117276753628, -0.3699782962896001],
       ['white', 'M', Timestamp('2019-01-13 00:00:00'),
        -3.090265967537381, -1.7577435559567611],
       ['red', 'L', Timestamp('2019-01-20 00:00:00'),
        -0.42496989374927197, -0.38068091458222475],
       ['white', 'M', Timestamp('2019-01-27 00:00:00'),
        -0.3636079793367742, -2.3918624031364097],
       ['green', 'XL', Timestamp('2019-02-03 00:00:00'),
        1.0469877365003308, -0.1541349354467163]], dtype=object)

Like the Series object, the DataFrame has an index attribute that gives access to the index labels:

In [88]:
df.index

RangeIndex(start=0, stop=5, step=1)

Additionally, the DataFrame has a columns attribute, which is an Index object holding the column labels:

In [89]:
df.columns

Index(['color', 'size', 'date', 'a', 'b'], dtype='object')

DataFrame can be created reading directly from a CSV or an Excel file using `pd.read_csv` and `pd.read_excel`

In [90]:
pd.read_csv('../Data/Test_Scores.csv').head()

   ACT  FinalExam  QuizAvg  TestAvg
0   33        181       95       89
1   31        169       81       89
2   21        176       65       68
3   25        181       66       90
4   29        169       89       81

## 1.3. Index Object

This Index object is an interesting structure in itself, and it can be thought of either as an immutable array or as an ordered set (technically a multi-set, as Index objects may contain repeated values). Index objects also have many of the attributes familiar from NumPy arrays, but they are immutable - that is, they cannot be modified.

In [91]:
index = [['A', 'B', 'B', 'B', 'C'], ['JP', 'CN', 'US', 'US', 'US']]

ind = pd.Index(index)
ind

Index([['A', 'B', 'B', 'B', 'C'], ['JP', 'CN', 'US', 'US', 'US']], dtype='object')

The Index object follows many of the conventions used by Python's built-in `set` data structure, so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [92]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

# intersection
print(indA & indB)

# union
print(indA | indB)

# symmetric difference
print(indA ^ indB)

Int64Index([3, 5, 7], dtype='int64')
Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')
Int64Index([1, 2, 9, 11], dtype='int64')

Adding single-indexing to dataframe

In [93]:
df.set_index(pd.Index(['A', 'B', 'C', 'D', 'E']), inplace=True)
df

   color size       date         a         b
A  black    S 2019-01-06 -0.445812 -0.369978
B  white    M 2019-01-13 -3.090266 -1.757744
C    red    L 2019-01-20 -0.424970 -0.380681
D  white    M 2019-01-27 -0.363608 -2.391862
E  green   XL 2019-02-03  1.046988 -0.154135

Adding multi-indexing to dataframe

In [94]:
index = pd.MultiIndex.from_arrays(index, names=['class', 'country'])

pd.DataFrame(data, index=index)

               color size       date         a         b
class country
A     JP       black    S 2019-01-06 -0.445812 -0.369978
B     CN       white    M 2019-01-13 -3.090266 -1.757744
      US         red    L 2019-01-20 -0.424970 -0.380681
      US       white    M 2019-01-27 -0.363608 -2.391862
C     US       green   XL 2019-02-03  1.046988 -0.154135

## 2. Quick checking DataFrames

In [95]:
# select top 3
df.head(3)

# select last 3
df.tail(3)

# sample data
df.sample(3)

   color size       date         a         b
B  white    M 2019-01-13 -3.090266 -1.757744
C    red    L 2019-01-20 -0.424970 -0.380681
E  green   XL 2019-02-03  1.046988 -0.154135

In [96]:
# check data type
df.dtypes

color            object
size             object
date     datetime64[ns]
a               float64
b               float64
dtype: object

In [97]:
# change data type
df.a.astype(int)

A    0
B   -3
C    0
D    0
E    1
Name: a, dtype: int32

In [98]:
# check data information
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 5 columns):
color    5 non-null object
size     5 non-null object
date     5 non-null datetime64[ns]
a        5 non-null float64
b        5 non-null float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 400.0+ bytes

# 3. Basic descriptive statistics

In [99]:
# basic statistical analysis
df.describe()

              a         b
count  5.000000  5.000000
mean  -0.655534 -1.010880
std    1.500738  1.000854
min   -3.090266 -2.391862
25%   -0.445812 -1.757744
50%   -0.424970 -0.380681
75%   -0.363608 -0.369978
max    1.046988 -0.154135

In [42]:
# average by columns
df.mean()

# median by columns
df.median()

# variance by columns
df.var()

# standard deviation by columns
df.std()

# min by columns
df.min()

# max by columsn
df.max()

# top 5% quantile
df.quantile(0.95)

## 4. Indexing, slicing columns and rows

### 4.1. select rows

In [100]:
# select row by index, return Series
df.iloc[0]

# select row by index, return dataframe
df.iloc[[0]]

   color size       date         a         b
A  black    S 2019-01-06 -0.445812 -0.369978

In [101]:
# select row by name, return Series
df.loc['A']

# select row by name, return dataframe
df.loc[['A']]

   color size       date         a         b
A  black    S 2019-01-06 -0.445812 -0.369978

### 4.2. select columns

In [102]:
# select column by index, return Series
df.iloc[:, 0]

# select column by index, return dataframe
df.iloc[:, [0]]

   color
A  black
B  white
C    red
D  white
E  green

In [103]:
# select column by name, return Series
df.loc[:, 'color']

# select column by name, return dataframe
df[['color']]

   color
A  black
B  white
C    red
D  white
E  green

### 4.3. conditional subsetting

In [104]:
# numeric condition
df[df.a < -1]

   color size       date         a         b
B  white    M 2019-01-13 -3.090266 -1.757744

In [105]:
# categorical condition
df[df.color.isin(['white', 'black'])]

   color size       date         a         b
A  black    S 2019-01-06 -0.445812 -0.369978
B  white    M 2019-01-13 -3.090266 -1.757744
D  white    M 2019-01-27 -0.363608 -2.391862

In [108]:
df.loc[(df.color == 'white') & (df['size'] == 'M'), ['a', 'b']]

          a         b
B -3.090266 -1.757744
D -0.363608 -2.391862

In [109]:
df.query("color == 'white' & size == 'M'")

   color size       date         a         b
B  white    M 2019-01-13 -3.090266 -1.757744
D  white    M 2019-01-27 -0.363608 -2.391862

## 5. Basic Operation
### 5.1. mathematical operations and store a new column

In [110]:
df['c'] = df.a + df.b
df

   color size       date         a         b         c
A  black    S 2019-01-06 -0.445812 -0.369978 -0.815790
B  white    M 2019-01-13 -3.090266 -1.757744 -4.848010
C    red    L 2019-01-20 -0.424970 -0.380681 -0.805651
D  white    M 2019-01-27 -0.363608 -2.391862 -2.755470
E  green   XL 2019-02-03  1.046988 -0.154135  0.892853

### 5.2. Evaluating an expression

A great feature supported by pandas is expression evaluation. This relies on the `numexpr` library which must be installed. Also, we can directly modify the DataFrame, and use global variable in an expression by prefixing it with `@`

In [111]:
# quick evaluate
df.eval('a + b')

A   -0.815790
B   -4.848010
C   -0.805651
D   -2.755470
E    0.892853
dtype: float64

In [112]:
threshold = 0
df.eval('c = a + b > @threshold')

   color size       date         a         b      c
A  black    S 2019-01-06 -0.445812 -0.369978  False
B  white    M 2019-01-13 -3.090266 -1.757744  False
C    red    L 2019-01-20 -0.424970 -0.380681  False
D  white    M 2019-01-27 -0.363608 -2.391862  False
E  green   XL 2019-02-03  1.046988 -0.154135   True

### 5.3. Deleting columns or rows

In [113]:
# Notice the axis=1 option for columns
df.drop('c', axis = 1)

   color size       date         a         b
A  black    S 2019-01-06 -0.445812 -0.369978
B  white    M 2019-01-13 -3.090266 -1.757744
C    red    L 2019-01-20 -0.424970 -0.380681
D  white    M 2019-01-27 -0.363608 -2.391862
E  green   XL 2019-02-03  1.046988 -0.154135

In [114]:
# axis = 0 is default for rows
df.drop('B', axis = 0)

   color size       date         a         b         c
A  black    S 2019-01-06 -0.445812 -0.369978 -0.815790
C    red    L 2019-01-20 -0.424970 -0.380681 -0.805651
D  white    M 2019-01-27 -0.363608 -2.391862 -2.755470
E  green   XL 2019-02-03  1.046988 -0.154135  0.892853

### 5.4. Counting and sorting

In [115]:
df.color.value_counts()

white    2
green    1
black    1
red      1
Name: color, dtype: int64

In [116]:
df.sort_values(by='date', ascending=False)

   color size       date         a         b         c
E  green   XL 2019-02-03  1.046988 -0.154135  0.892853
D  white    M 2019-01-27 -0.363608 -2.391862 -2.755470
C    red    L 2019-01-20 -0.424970 -0.380681 -0.805651
B  white    M 2019-01-13 -3.090266 -1.757744 -4.848010
A  black    S 2019-01-06 -0.445812 -0.369978 -0.815790

### 5.5. Re-setting and Setting Index

In [117]:
df.reset_index()

  index  color size       date         a         b         c
0     A  black    S 2019-01-06 -0.445812 -0.369978 -0.815790
1     B  white    M 2019-01-13 -3.090266 -1.757744 -4.848010
2     C    red    L 2019-01-20 -0.424970 -0.380681 -0.805651
3     D  white    M 2019-01-27 -0.363608 -2.391862 -2.755470
4     E  green   XL 2019-02-03  1.046988 -0.154135  0.892853

In [119]:
df.set_index('date')

            color size         a         b         c
date
2019-01-06  black    S -0.445812 -0.369978 -0.815790
2019-01-13  white    M -3.090266 -1.757744 -4.848010
2019-01-20    red    L -0.424970 -0.380681 -0.805651
2019-01-27  white    M -0.363608 -2.391862 -2.755470
2019-02-03  green   XL  1.046988 -0.154135  0.892853

### 5.6. Drop/filling Missing Value

In [122]:
df.iloc[0, 4] = np.nan
df.iloc[2, 3] = np.nan
df

   color size       date         a         b         c
A  black    S 2019-01-06 -0.445812       NaN -0.815790
B  white    M 2019-01-13 -3.090266 -1.757744 -4.848010
C    red    L 2019-01-20       NaN -0.380681 -0.805651
D  white    M 2019-01-27 -0.363608 -2.391862 -2.755470
E  green   XL 2019-02-03  1.046988 -0.154135  0.892853

In [123]:
# drop any rows with NA, axis=1 as columns
df.dropna(axis=0)

   color size       date         a         b         c
B  white    M 2019-01-13 -3.090266 -1.757744 -4.848010
D  white    M 2019-01-27 -0.363608 -2.391862 -2.755470
E  green   XL 2019-02-03  1.046988 -0.154135  0.892853

In [124]:
# drop rows any specific column has NA values
df[df.a.notna()] # same as df[~df.a.isna()]

   color size       date         a         b         c
A  black    S 2019-01-06 -0.445812       NaN -0.815790
B  white    M 2019-01-13 -3.090266 -1.757744 -4.848010
D  white    M 2019-01-27 -0.363608 -2.391862 -2.755470
E  green   XL 2019-02-03  1.046988 -0.154135  0.892853

In [125]:
# fill in NA with mean
df.fillna(df.mean())

   color size       date         a         b         c
A  black    S 2019-01-06 -0.445812 -1.171105 -0.815790
B  white    M 2019-01-13 -3.090266 -1.757744 -4.848010
C    red    L 2019-01-20 -0.713174 -0.380681 -0.805651
D  white    M 2019-01-27 -0.363608 -2.391862 -2.755470
E  green   XL 2019-02-03  1.046988 -0.154135  0.892853

### 5.7. Mapping Functions

Mapping is used to transform an initial set of values to another set of values through a function.

In [136]:
df.a.map(lambda x: np.mean(x))

A   -0.445812
B   -3.090266
C         NaN
D   -0.363608
E    1.046988
Name: a, dtype: float64

`Apply` is similar to `map`, except that it transforms the entire DataFrame.

In [137]:
df[['a','b']].apply(lambda x: x.mean())

a   -0.713174
b   -1.171105
dtype: float64

==================================================================================

## 4.1. Aggregation

In [55]:
size_lvl.sum().add_prefix('sum_')

         sum_a     sum_b     sum_c
size
L    -1.697975  4.557380  2.859405
M    -0.006746 -2.004138 -2.010884
S     0.544520 -0.595174 -0.016940
XL   -0.096295 -1.190030 -1.286325

In [56]:
df.groupby(['size', 'color']).agg({'a': np.min, 'b': np.mean})

                   a         b
size color
L    black -1.812915  2.278690
M    white -1.102740 -0.668046
S    black -0.161944 -1.022070
     white       NaN  0.426896
XL   black  0.836499  3.797216
     white -0.932795 -4.987246

## 5.1. Apply customize function

In [57]:
# Transform
data_range = lambda x: x.max() - x.min()
df.groupby('size').transform(data_range)

                 date         a         b          c
class country
A     JP      42 days  0.868408  1.448966   0.712515
B     CN      56 days  2.484031  1.331560   1.829802
      US      14 days  1.927855  4.894578   6.822433
      US      56 days  2.484031  1.331560   1.829802
C     US      14 days  1.927855  4.894578   6.822433
A     CN      42 days  0.868408  1.448966   0.712515
B     CN      42 days  0.868408  1.448966   0.712515
A     CA       7 days  1.769294  8.784461  10.553755
C     JP       7 days  1.769294  8.784461  10.553755
      CA      56 days  2.484031  1.331560   1.829802

In [58]:
# Apply
df.groupby('size')['a'].apply(lambda x: x.max() - x.min())

size
L     1.927855
M     2.484031
S     0.868408
XL    1.769294
Name: a, dtype: float64

## 6.1. Rolling

Creating a n-row window to aggregate data group by columns. If not enough data, then return `NaN`

In [59]:
df.groupby('color').rolling(2).a.sum()

color  class  country
black  A      JP              NaN
       B      US        -0.047004
       C      US        -1.697975
       B      CN        -1.106451
       C      JP         1.542963
white  B      CN              NaN
              US        -1.388037
       A      CN              NaN
              CA              NaN
       C      CA         0.448496
Name: a, dtype: float64

## 7.1. Expanding

Creating a window to aggregate data group by columns, but the window is increasing every step

In [60]:
# Cumulative sum
df.groupby('color').expanding(1).a.sum()

color  class  country
black  A      JP        -0.161944
       B      US        -0.047004
       C      US        -1.859919
       B      CN        -1.153455
       C      JP        -0.316955
white  B      CN        -0.285296
              US        -1.388037
       A      CN        -1.388037
              CA        -2.320831
       C      CA        -0.939541
Name: a, dtype: float64

## 8.1. Filter

In [61]:
df.groupby('class').filter(lambda x: len(x) > 3)

               color size       date         a         b         c
class country
B     CN       white    M 2019-01-13 -0.285296  0.001584 -0.283712
      US       black    L 2019-01-20  0.114940  4.725979  4.840919
      US       white    M 2019-01-27 -1.102740 -0.675747 -1.778487
      CN       black    S 2019-02-17  0.706464 -1.022070 -0.315606

## 9.1 Evaluating an expression