# Pandas - Advanced

In [2]:
import pandas as pd
import numpy as np

## 1. Combining Datasets: Concat and Append

Some of the most interesting studies of data come from combining different data sources. These operations can involve anything from very straightforward concatenation of two different datasets, to more complicated database-style joins and merges that correctly handle any overlaps between the datasets. Series and DataFrames are built with this type of operation in mind, and Pandas includes functions and methods that make this sort of data wrangling fast and straightforward.

Here we'll take a look at simple concatenation of Series and DataFrames with the pd.concat function; later we'll dive into more sophisticated in-memory merges and joins implemented in Pandas.

In [7]:
df = pd.read_csv('../Data/Height_Weight.csv')
df.head()

        Name  Height  Weight       Hometown
0     Ashley     155     140      Palo Alto
1      Robin     145     122        Fremont
2   Priyanka     152     131    Santa Clara
3  Youngchul     167     148      Cupertino
4       Aziz     161     139  San Francisco