# Pandas - Introduction

`Pandas` is a package built on top of `NumPy`, which is consist of Series and DataFrame objects, and provides an efficient implementation of a DataFrame. DataFrames are essentially multidimensional arrays with attached row and column labels, and often with heterogeneous types and/or missing data. As well as offering a convenient storage interface for labeled data, Pandas implements a number of powerful data operations familiar to users of both database frameworks and spreadsheet programs.

Pandas has more flexibility (e.g., attaching labels to data, working with missing data, etc.) and when attempting operations that do not map well to element-wise broadcasting (e.g., groupings, pivots, etc.), each of which is an important piece of analyzing the less structured data available in many forms in the world around us.

* Pandas series, DataFrame
* Quick checking DataFrame
* Descriptive stats on DataFrame
* Indexing, slicing, conditional subsetting
* Basic operations

In [103]:
import numpy as np
import pandas as pd

## 1.1. Series Object

The Series object is basically interchangeable with a one-dimensional NumPy array. The essential difference is the presence of the index: while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values, which can access with the `values` and `index` attributes.

In [104]:
s = pd.Series([0.25, 0.5, 0.75, 1.0], index=["alice", "bob", "charles", "darwin"])
s

alice      0.25
bob        0.50
charles    0.75
darwin     1.00
dtype: float64

In [105]:
s.values

array([0.25, 0.5 , 0.75, 1.  ])

In [106]:
s.index

Index(['alice', 'bob', 'charles', 'darwin'], dtype='object')

The Pandas Series is also like a specialization of a Python dictionary. A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a Series is a structure which maps typed keys to a set of typed values. **This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas Series makes it much more efficient than Python dictionaries for certain operations.**

In [107]:
# Using a pre-defined Dictionary object
s = {'color': 'black',
     'size': 'S',
     'a': 0,
     'b': 1}

pd.Series(s)

color    black
size         S
a            0
b            1
dtype: object

## 1.2. DataFrame Object

The DataFrame can be thought of either as a generalization of a NumPy array, or as a specialization of a Python dictionary. A DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names.

In [108]:
data = {'color': ['black', 'white', 'red', 'white', 'green'],
        'size': ['S', 'M', 'L', 'M', 'XL'],
        'date': pd.date_range('1/1/2019', periods=5, freq='W'),
        'a': np.random.randn(5),
        'b': np.random.normal(0.5, 2, 5)}

df = pd.DataFrame(data, index=range(1,6))
df

   color size       date         a         b
1  black    S 2019-01-06 -1.172352 -2.657872
2  white    M 2019-01-13  1.259611 -0.756656
3    red    L 2019-01-20  0.177870  1.195110
4  white    M 2019-01-27  2.065046  0.132212
5  green   XL 2019-02-03 -0.015183 -2.894607

We also can create a DataFrame by Series with specific index, and it will conduct together even different length of series.

In [109]:
data = {'one': pd.Series(list(range(0,5)), index=['a','b','c','d','e']),
       'two': pd.Series(list(range(1,7)), index=['a','b','c','d','e','f'])}

pd.DataFrame(data)

   one  two
a  0.0    1
b  1.0    2
c  2.0    3
d  3.0    4
e  4.0    5
f  NaN    6

In [110]:
df.values

array([['black', 'S', Timestamp('2019-01-06 00:00:00'),
        -1.172351848453214, -2.6578721260840488],
       ['white', 'M', Timestamp('2019-01-13 00:00:00'),
        1.2596105728719873, -0.7566560023244955],
       ['red', 'L', Timestamp('2019-01-20 00:00:00'), 0.1778702446979953,
        1.195109747881061],
       ['white', 'M', Timestamp('2019-01-27 00:00:00'),
        2.0650464945334046, 0.13221181301378132],
       ['green', 'XL', Timestamp('2019-02-03 00:00:00'),
        -0.01518271655314529, -2.894607174659085]], dtype=object)

Like the Series object, the DataFrame has an index attribute that gives access to the index labels:

In [111]:
df.index

RangeIndex(start=1, stop=6, step=1)

Additionally, the DataFrame has a columns attribute, which is an Index object holding the column labels:

In [112]:
df.columns

Index(['color', 'size', 'date', 'a', 'b'], dtype='object')

DataFrame can be created reading directly from a CSV or an Excel file using `pd.read_csv` and `pd.read_excel`

In [113]:
pd.read_csv('../Data/Test_Scores.csv').head()

   ACT  FinalExam  QuizAvg  TestAvg
0   33        181       95       89
1   31        169       81       89
2   21        176       65       68
3   25        181       66       90
4   29        169       89       81

## 1.3. Index Object

This Index object is an interesting structure in itself, and it can be thought of either as an immutable array or as an ordered set (technically a multi-set, as Index objects may contain repeated values). Index objects also have many of the attributes familiar from NumPy arrays, but they are immutable - that is, they cannot be modified.

In [114]:
index = [['A', 'B', 'B', 'B', 'C'], ['JP', 'CN', 'US', 'US', 'US']]

ind = pd.Index(index)
ind

Index([['A', 'B', 'B', 'B', 'C'], ['JP', 'CN', 'US', 'US', 'US']], dtype='object')

The Index object follows many of the conventions used by Python's built-in `set` data structure, so that unions, intersections, differences, and other combinations can be computed in a familiar way:

In [115]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

# intersection
print(indA & indB)

# union
print(indA | indB)

# symmetric difference
print(indA ^ indB)

Int64Index([3, 5, 7], dtype='int64')
Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')
Int64Index([1, 2, 9, 11], dtype='int64')

In [116]:
# Adding single-indexing to dataframe
df.set_index(pd.Index(['A', 'B', 'C', 'D', 'E']), inplace=True)
df

   color size       date         a         b
A  black    S 2019-01-06 -1.172352 -2.657872
B  white    M 2019-01-13  1.259611 -0.756656
C    red    L 2019-01-20  0.177870  1.195110
D  white    M 2019-01-27  2.065046  0.132212
E  green   XL 2019-02-03 -0.015183 -2.894607

In [117]:
# Adding multi-indexing to dataframe
index = [['A', 'B', 'B', 'C', 'C'], ['S', 'M', 'M', 'L', 'XL']]
index_2d = pd.MultiIndex.from_arrays(index, names=['index', 'size'])

df.set_index(index_2d)

            color size       date         a         b
index size
A     S     black    S 2019-01-06 -1.172352 -2.657872
B     M     white    M 2019-01-13  1.259611 -0.756656
      M       red    L 2019-01-20  0.177870  1.195110
C     L     white    M 2019-01-27  2.065046  0.132212
      XL    green   XL 2019-02-03 -0.015183 -2.894607

In [118]:
# reset index from 0
df.reset_index()

  index  color size       date         a         b
0     A  black    S 2019-01-06 -1.172352 -2.657872
1     B  white    M 2019-01-13  1.259611 -0.756656
2     C    red    L 2019-01-20  0.177870  1.195110
3     D  white    M 2019-01-27  2.065046  0.132212
4     E  green   XL 2019-02-03 -0.015183 -2.894607

## 2. Quick Checking DataFrames

In [119]:
# select top 3
df.head(3)

# select last 3
df.tail(3)

# sample data
df.sample(3)

   color size       date         a         b
A  black    S 2019-01-06 -1.172352 -2.657872
B  white    M 2019-01-13  1.259611 -0.756656
E  green   XL 2019-02-03 -0.015183 -2.894607

In [120]:
# check data type
df.dtypes

color            object
size             object
date     datetime64[ns]
a               float64
b               float64
dtype: object

In [121]:
# change data type
df.a.astype(int)

A   -1
B    1
C    0
D    2
E    0
Name: a, dtype: int32

In [122]:
# check data information
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, A to E
Data columns (total 5 columns):
color    5 non-null object
size     5 non-null object
date     5 non-null datetime64[ns]
a        5 non-null float64
b        5 non-null float64
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 400.0+ bytes

## 3. Basic Descriptive Statistics

In [123]:
# basic statistical analysis
df.describe()

              a         b
count  5.000000  5.000000
mean   0.462999 -0.996363
std    1.243531  1.767600
min   -1.172352 -2.894607
25%   -0.015183 -2.657872
50%    0.177870 -0.756656
75%    1.259611  0.132212
max    2.065046  1.195110

In [124]:
# average by columns
df.mean()

# median by columns
df.median()

# variance by columns
df.var()

# standard deviation by columns
df.std()

# min by columns
df.min()

# max by columsn
df.max()

# top 5% quantile
df.quantile(0.95)

a    1.903959
b    0.982530
Name: 0.95, dtype: float64

## 4. Indexing & Slicing

### 4.1. select rows

In [125]:
# select row by index, return Series
df.iloc[0]

# select row by index, return dataframe
df.iloc[[0]]

   color size       date         a         b
A  black    S 2019-01-06 -1.172352 -2.657872

In [126]:
# select row by name, return Series
df.loc['A']

# select row by name, return dataframe
df.loc[['A']]

   color size       date         a         b
A  black    S 2019-01-06 -1.172352 -2.657872

### 4.2. select columns

In [127]:
# select column by index, return Series
df.iloc[:, 0]

# select column by index, return dataframe
df.iloc[:, [0]]

   color
A  black
B  white
C    red
D  white
E  green

In [128]:
# select column by name, return Series
df.loc[:, 'color']

# select column by name, return dataframe
df[['color']]

   color
A  black
B  white
C    red
D  white
E  green

### 4.3. conditional subsetting

In [129]:
# numeric condition
df[df.a < -1]

   color size       date         a         b
A  black    S 2019-01-06 -1.172352 -2.657872

In [130]:
# categorical condition
df[df.color.isin(['white', 'black'])]

   color size       date         a         b
A  black    S 2019-01-06 -1.172352 -2.657872
B  white    M 2019-01-13  1.259611 -0.756656
D  white    M 2019-01-27  2.065046  0.132212

In [131]:
df.loc[(df.color == 'white') & (df['size'] == 'M'), ['a', 'b']]

          a         b
B  1.259611 -0.756656
D  2.065046  0.132212

## 5. Basic Operation

### 5.1. Evaluating an expression

A great feature supported by `pandas` is expression evaluation. The benefit here is that `Numexpr` library evaluates the expression in a way that does not use full-sized temporary arrays, and thus can be much more efficient than `NumPy`, especially for large arrays. The `eval()`and `query()` functions in Pandas uses string expressions to efficiently compute operations. 

In addition to being a more efficient computation, compared to the masking expression this is much easier to read and understand. Note that the `query()` method also accepts the `@` flag to mark local variables:

In [132]:
df.query("color == 'white' and size == 'M'")

   color size       date         a         b
B  white    M 2019-01-13  1.259611 -0.756656
D  white    M 2019-01-27  2.065046  0.132212

In [133]:
# quick evaluate
df.eval('a + b')

A   -3.830224
B    0.502955
C    1.372980
D    2.197258
E   -2.909790
dtype: float64

In [134]:
threshold = 0
df.eval('c = a + b > @threshold', inplace=True)
df

   color size       date         a         b      c
A  black    S 2019-01-06 -1.172352 -2.657872  False
B  white    M 2019-01-13  1.259611 -0.756656   True
C    red    L 2019-01-20  0.177870  1.195110   True
D  white    M 2019-01-27  2.065046  0.132212   True
E  green   XL 2019-02-03 -0.015183 -2.894607  False

### 5.2. Insert columns

In [135]:
# insert the day column at position 4 
df.insert(3, 'day', df.date.dt.strftime('%A'))
df

   color size       date     day         a         b      c
A  black    S 2019-01-06  Sunday -1.172352 -2.657872  False
B  white    M 2019-01-13  Sunday  1.259611 -0.756656   True
C    red    L 2019-01-20  Sunday  0.177870  1.195110   True
D  white    M 2019-01-27  Sunday  2.065046  0.132212   True
E  green   XL 2019-02-03  Sunday -0.015183 -2.894607  False

### 5.3. Deleting columns or rows

In [136]:
# Notice the axis=1 option for columns
df.drop('c', axis = 1)

   color size       date     day         a         b
A  black    S 2019-01-06  Sunday -1.172352 -2.657872
B  white    M 2019-01-13  Sunday  1.259611 -0.756656
C    red    L 2019-01-20  Sunday  0.177870  1.195110
D  white    M 2019-01-27  Sunday  2.065046  0.132212
E  green   XL 2019-02-03  Sunday -0.015183 -2.894607

In [137]:
# axis = 0 is default for rows
df.drop('B', axis = 0)

   color size       date     day         a         b      c
A  black    S 2019-01-06  Sunday -1.172352 -2.657872  False
C    red    L 2019-01-20  Sunday  0.177870  1.195110   True
D  white    M 2019-01-27  Sunday  2.065046  0.132212   True
E  green   XL 2019-02-03  Sunday -0.015183 -2.894607  False

### 5.4. Unique & Counts

In [138]:
# return columns as array
print('Color column:', df.color.values)

# return unique category 
print('Color column unique values:', df.color.unique())

Color column: ['black' 'white' 'red' 'white' 'green']
Color column unique values: ['black' 'white' 'red' 'green']

In [139]:
# return counts
print('Color column counts:', df.color.count())

# return distinct counts
print('Color column distinct counts:', df.color.nunique())

Color column counts: 5
Color column distinct counts: 4

In [140]:
# return counts by category
df.color.value_counts()

white    2
black    1
red      1
green    1
Name: color, dtype: int64

### 5.5. Sorting

In [141]:
# sort by columns
df.sort_values(by='date', ascending=False)

   color size       date     day         a         b      c
E  green   XL 2019-02-03  Sunday -0.015183 -2.894607  False
D  white    M 2019-01-27  Sunday  2.065046  0.132212   True
C    red    L 2019-01-20  Sunday  0.177870  1.195110   True
B  white    M 2019-01-13  Sunday  1.259611 -0.756656   True
A  black    S 2019-01-06  Sunday -1.172352 -2.657872  False

In [142]:
# sort by index
df.sort_index(ascending=False)

   color size       date     day         a         b      c
E  green   XL 2019-02-03  Sunday -0.015183 -2.894607  False
D  white    M 2019-01-27  Sunday  2.065046  0.132212   True
C    red    L 2019-01-20  Sunday  0.177870  1.195110   True
B  white    M 2019-01-13  Sunday  1.259611 -0.756656   True
A  black    S 2019-01-06  Sunday -1.172352 -2.657872  False

### 5.6. Drop/filling Missing Value

In [143]:
df.iloc[0, 4] = np.nan
df.iloc[2, 3] = np.nan
df

   color size       date     day         a         b      c
A  black    S 2019-01-06  Sunday       NaN -2.657872  False
B  white    M 2019-01-13  Sunday  1.259611 -0.756656   True
C    red    L 2019-01-20     NaN  0.177870  1.195110   True
D  white    M 2019-01-27  Sunday  2.065046  0.132212   True
E  green   XL 2019-02-03  Sunday -0.015183 -2.894607  False

In [144]:
# drop any rows with NA, axis=1 as columns
df.dropna(axis=0) # same as df[~df.isna().any(axis=1)]

   color size       date     day         a         b      c
B  white    M 2019-01-13  Sunday  1.259611 -0.756656   True
D  white    M 2019-01-27  Sunday  2.065046  0.132212   True
E  green   XL 2019-02-03  Sunday -0.015183 -2.894607  False

In [145]:
# drop rows any specific column has NA values
df[~df.a.isna()]

   color size       date     day         a         b      c
B  white    M 2019-01-13  Sunday  1.259611 -0.756656   True
C    red    L 2019-01-20     NaN  0.177870  1.195110   True
D  white    M 2019-01-27  Sunday  2.065046  0.132212   True
E  green   XL 2019-02-03  Sunday -0.015183 -2.894607  False

In [146]:
# fill in NA with mean
df.fillna(df.mean())

   color size       date     day         a         b      c
A  black    S 2019-01-06  Sunday  0.871836 -2.657872  False
B  white    M 2019-01-13  Sunday  1.259611 -0.756656   True
C    red    L 2019-01-20     NaN  0.177870  1.195110   True
D  white    M 2019-01-27  Sunday  2.065046  0.132212   True
E  green   XL 2019-02-03  Sunday -0.015183 -2.894607  False

### 5.7. Map & Apply

Mapping is used to transform an initial set of values to another set of values through a function.

In [147]:
# map
df.a.map(lambda x: np.mean(x))

A         NaN
B    1.259611
C    0.177870
D    2.065046
E   -0.015183
Name: a, dtype: float64

`Apply` is similar to `map`, except that it transforms the entire DataFrame.

In [148]:
# apply
df[['a','b']].apply(lambda x: x.mean())

a    0.871836
b   -0.996363
dtype: float64

In [149]:
# Transform
df.groupby('color').transform(lambda x: x.mean())

          a         b      c
A       NaN -2.657872  False
B  1.662329 -0.312222   True
C  0.177870  1.195110   True
D  1.662329 -0.312222   True
E -0.015183 -2.894607  False

### 5.8. Rolling & Expanding

Creating a n-row window to aggregate data group by columns. `rolling` is a fixed size window; `expanding` is a increasing window every step. If not enough data, then return `NaN`

In [150]:
# aggregation
df.groupby('color').a.sum()

color
black    0.000000
green   -0.015183
red      0.177870
white    3.324657
Name: a, dtype: float64

In [151]:
# SQL windows function with fixed windows
df.groupby('color').rolling(2).a.sum()

color
black  A         NaN
green  E         NaN
red    C         NaN
white  B         NaN
       D    3.324657
Name: a, dtype: float64

In [152]:
# SQL windows function with increasing windows
df.groupby('color').expanding(1).a.sum()

color
black  A         NaN
green  E   -0.015183
red    C    0.177870
white  B    1.259611
       D    3.324657
Name: a, dtype: float64

### 5.9. Filter

In [154]:
# SQL having
df.groupby('color').filter(lambda x: len(x) > 1)

   color size       date     day         a         b     c
B  white    M 2019-01-13  Sunday  1.259611 -0.756656  True
D  white    M 2019-01-27  Sunday  2.065046  0.132212  True

### 5.10. Melt

In [172]:
# Convert wide dataframes to narrow
temp = pd.DataFrame({'ID': ['A','B','C'], 'Day1': [1,2,3], 'Day2': [2,4,6]})
print(temp)

temp.melt(id_vars=['ID'])

  ID  Day1  Day2
0  A     1     2
1  B     2     4
2  C     3     6

  ID variable  value
0  A     Day1      1
1  B     Day1      2
2  C     Day1      3
3  A     Day2      2
4  B     Day2      4
5  C     Day2      6